<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9390bf4c-abd8-40e2-8b70-4c02c930a15e/resourcegroups/jornadatrabalho/providers/Microsoft.Web/sites/JornadaTrabalhoApi20251118140344</ResourceId>
    <ResourceGroup>jornadatrabalho</ResourceGroup>
    <ApiResourceId>/subscriptions/9390bf4c-abd8-40e2-8b70-4c02c930a15e/resourceGroups/jornadatrabalho/providers/Microsoft.ApiManagement/service/JornadaTrabalhoApiapi/apis/JornadaTrabalhoApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jornadatrabalhoapi20251118140344-hnhyejhnh2hdfyb0.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>411a055a-9c6b-444f-8b86-8495961e6b1c</ProjectGuid>
    <MSDeployServiceURL>jornadatrabalhoapi20251118140344-hnhyejhnh2hdfyb0.scm.brazilsouth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JornadaTrabalhoApi20251118140344</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>